* {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  overflow-x: hidden;
}

/* Navbar */
.container-fluid {
  margin-left: 250px;
  margin-right: 250px;
}

.nav-img {
  margin-right: 25px;
  margin-left: -65px;
}

.navbar-text {
  text-decoration: none!important;
  font-weight: 500;
  font-size: 16px;
}

.nav-item .overview {
  padding-top: 6px;
}

.btn-pages {
  padding-left: 5px;
}

.btn-components {
  padding-left: 4px;
}

.signup-signin {
  margin-right: -65px;
}

.nav-item span {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin-left: 3px;
  margin-right: 3px;
}

/* Header */
.first-img {
  width: 100%;
  height: 100%;
}

.main-container {
  margin-right: -16px;
}

.section-header {
  padding-bottom: 5px;
}

.container-header {
  margin-top: -590px;
  padding-bottom: 150px;
  padding-left: 90px;
}

.form-header {
  margin-right: 85px;
  width: 38%;
}

.form-cardBody {
  margin-right: -10px;
  margin-left: -3px;
}

.username, .email, .password {
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 6px;
  padding-left: 12px;
}


.placeholder-username, .placeholder-email, .placeholder-password  {
  font-size: 16px;
  margin-left: 12px;
  width: 93%;
  border-radius: 3px;
}

.placeholder-header-1 ::placeholder  {
  color: #afb5bc;
}

.placeholder-header-2 ::placeholder  {
  color: #afb5bc;
}

.placeholder-header-3 ::placeholder  {
  color: #afb5bc;
}


.smallText-Email {
  font-size: 12px;
  padding-left: 12px;
  color: #838990;
}

.checkbox-terms-conditions {
  padding-left: 12px;
  margin-left: 12px;
  margin-top: 12px;
}

.terms-conditions {
  font-size: 12px;
}

.terms-conditions a {
  text-decoration: none;
}

.sign-up {
  width: 93%;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 8px;
  background-color: #02B875;
  border-radius: 0.25rem;
}

.sign-up span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.header-heading h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 75px;
  padding-bottom: 25px;
}

.header-heading span {
  font-size: 20px;
  font-weight: 400;
  color: #CED4DA;
}

.card {
  border-radius: 0.25rem;
}

/* Section 2 - Meet The Future */
.section2 {
  padding-top: 72px;
  margin-right: -20px;
  background-color: #f8f9fa;
  height: 1085px;
  border-bottom: 1px solid rgba(223, 219, 219, 0.4);
}

.section2-container {
  padding-bottom: 72px;
}

.section2-col .meetTheFuture {
  color: #ADB5BD;
  font-size: 14px;
  font-weight: 500;
}

.section2 .introducing {
  font-size: 56px;
  font-weight: 400;
  color: #343a40;
  margin-top: 24px;
  margin-bottom: 24px;
}

.section2 .opportunity {
  font-size: 20px;
  font-weight: 400;
  color: #495057;
}

.video-cover img {
  width: 88%;
  margin-top: 70px;
  display: flex;
  margin-left: 50px;
  margin-bottom: -100px;
}

.section2-divIcon {
  position: relative;
  font-size: 70px;
  color: #f8f9fa;
}

.fa-play-circle {
  position: absolute;
  left: 390px;
  bottom: 120px;
}

.section2-bottom-text h6 {
font-size: 16px;
color: #343A40;
}

.section2-bottom-text p {
  font-size: 14px;
  color: #495057;
  margin-top: 15px;
}

.section2-bottom-text a {
  font-size: 14px;
  text-decoration: none;
}

/* Section 3 - Welcome Home */
.section3 {
  padding-top: 72px;
  padding-bottom: 55px;
  margin-right: -20px;
  background-color: #f8f9fa;

}
.welcomeHome {
  font-size: 14px;
  font-weight: 500;
  color: #ADB5BD;
  margin-top: 50px;
}

.greatlySimplified {
  font-size: 56px;
  font-weight: 400;
  color: #343A40;
  margin-top: 24px;
  margin-bottom: 24px;
}

.anOpportunity {
  font-size: 20px;
  font-weight: 400;
  color: #495057;
}

.section3-middle {
  margin-top: 80px;
  margin-left: 50px;
  /* position: relative; */
}

.section3 img {
  width: 450px;
  height: 470px;
  margin-top: -75px;
  margin-left: -25px;
}

.txt-link {
  text-decoration: none;
}

.section3-cardOne-li {
  width: 100%;
}

.section3-cardOne-li a {
  border: 1px solid #e9ecef;
  /* box-shadow: 1px 6px 31px rgb(0 0 0 / 15%); */
}

.section3-cardOneBody {
  position: relative;
  padding: 24px;
  display: flex !important;
  align-items: center !important;
}


.section3-cardTwo-li a {
  border: none ;
  margin-top: 10px;
}

.section3-cardTwoBody {
  background-color: #F8F9Fa;
  position: relative;
  padding: 24px;
}

.section3-cardThree-li a {
  border: none;
  margin-top: 10px;
}

.section3-cardThreeBody {
  background-color: #F8F9Fa;
  position: relative;
  padding: 24px;
}

.number-1 {
  height: 50px;
  width: 50px;
  background-color: #4582EC;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 38px;
}


.number-1 span {
  position: absolute;
  bottom: 4px;
  left: 17px;
  color: #FFFF;
  font-size: 28px;
}


.number-2 {
  height: 50px;
  width: 50px;
  background-color: #CED4DA;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 38px;
}

.number-2 span {
  position: absolute;
  bottom: 4px;
  left: 17px;
  color: #FFFF;
  font-size: 28px;
}

.number-3 {
  height: 50px;
  width: 50px;
  background-color: #CED4DA;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 38px;
}

.number-3 span {
  position: absolute;
  bottom: 4px;
  left: 17px;
  color: #FFFF;
  font-size: 28px;
}

.section3-card .heading {
  font-size: 20px;
  font-weight: 500;
  color: #343A40;
  margin-left: 87px;
}

.section3-card .text {
  font-size: 16px;
  color: #495057;
  margin-left: 87px;
  display: inline-block;
}

/* Section 4 - Synced For Your Convenience */
.section4-row-1 {
  margin-left: -150px;
}

.section4-row-2 {
  margin-right: -150px;
}

.section4-col-1 {
  padding-top: 96px;
  padding-bottom: 90px;
}

.section4-col-2 {
  padding-top: 96px;
  padding-bottom: 90px;
}

.section4-bgImage-1 {
  width: 91%;
  height: 100%;
  margin-left: -145px;
}

.section4-bgImage-2 {
  width: 91%;
  height: 100%;
}

.section4-heading {
  font-size: 40px;
  font-weight: 400;
  color: #343A40;
}

.section4-subHeading {
  font-size: 20px;
  font-weight: 400;
  color: #495057;
}

.section4-card h6 {
  font-size: 16px;
  font-weight: 500;
  color: #343A40;
}

.section-4-ul {
  list-style: none;
  position: relative;
}

.section4-icon {
  position: absolute;
  left: 5px;
  padding-top: 2px;
}

.section4-card p {
  font-size: 14px;
  color: #495057;
}

.txt-learnMoreAboutSync {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}


/* Section 5 - Case Studies */
.section5-caseStudies {
  /* margin-top: 72px; */
  margin-bottom: 72px;
  margin-right: -20px;
  background-color: #f8f9fa;
  height: 855px;
}

.caseStudies-col {
  margin-top: 70px;
}

.txt-section-caseStudies {
  font-size: 14px;
  font-weight: 500;
  color: #afb5bc;
}

.caseStudies-col h2 {
  font-size: 56px;
  font-weight: 400;
  color: #343A40;
  margin-top: 20px;
  margin-bottom: 20px;
}

.caseStudies-col .caseStudies-txt-span2 {
font-size: 20px;
font-weight: 400;
color: #495057;
}

.card-row-caseStudies {
  margin-top: 70px;
  margin-left: 70px;
}

.card-pitStop {
  width: 30%;
}
.card-bench {
  width: 30%;
}
.card-movend {
  width: 30%;
}

.card-body-caseStudies {
  padding: 36px;
}

.card-body-caseStudies-movend {
  padding: 36px 36px 36px 30px;
}

.card-body-caseStudies h4 {
  font-size: 24px;
  font-weight: 500;
  color: #343A40
}
.card-body-caseStudies p {
  font-size: 16px;
  color: #495057;
}
.card-body-caseStudies a {
  font-size: 16px;
  text-decoration: none;
}

.card-body-caseStudies-movend a {
  text-decoration: none;
}


/* 30 Day Trial */
.bg-white  {
padding-bottom: 83px;
/* font-size: 40px;
font-weight: 400; */
}


.text-h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 50px;
}

.txt-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.placeholder-col {
  margin-right: -20px;
  margin-left: 20px;
}


.placeholder-30DayTrial {
  width: 93%;
  padding-top: -40px;
  padding-bottom: -40px;
}

.small-Txt-30DayTrial {
  font-size: 12px;
  font-weight: 400;
}

.placeholder-30DayTrial-username ::placeholder {
  color: #afb5bc;
  font-size: 16px;
}


.placeholder-30DayTrial-email ::placeholder {
  color: #afb5bc;
  font-size: 16px;
}
.placeholder-30DayTrial-password ::placeholder {
  color: #afb5bc;
  font-size: 16px;
}

.txt-signUpForWingman {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 50px 12px 50px;
  background-color: #02B875;
  color: #fff;
  border-radius: 4px;
  margin-top: 30px;
  margin-left: -10px;
}

.btnSignUp-background :hover {
  background-color: #198754;
  color: #fff;
}

/* Handy Announcement */
.section-handyAnnouncement {
  background-color: #4582EC;
  background: linear-gradient(135deg, #6f42c1 0%, #4582EC 100%);
  font-size: 16px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: -20px;
}

.fa-birthday-cake {
  margin-right: 10px;
}

.handyAnnouncement-text {
  margin-right: 15px;
}

.viewChangelog {
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.handyAnnouncement-col :hover {
  color: #ededed !important; 
}






/* Footer */
footer {
  background-color: #343A40;
  margin-right: -20px;
}

.footer-container {
  margin-left: 200px;
  padding-top: 80px;
  padding-bottom: 120px;
}

.copyright {
  margin-right: -60px;
}

.copyright p {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFFBF;;
}

.heading-footer {
  font-size: 20px;
  font-weight: 500;
}

.footer-navigate {
  margin-right: -60px;
}

.footer-platform {
  margin-right: -50px;
}

.footer-community {
margin-right: -30px;
}

.heading-list-footer {
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
}

.list-footer a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #ADB5BD;
}


