* {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  --bs-navbar-toggler-focus-width: 1px;
}

.navbar-toggler {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.navbar-toggler-icon {
  font-size: 12px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.container {
  width: 100%;
}

.nav-img {
  margin-right: 25px;
}

.navbar-text {
  text-decoration: none !important;
  font-weight: 500;
  font-size: 16px;
}

.nav-item .overview {
  padding-top: 6px;
}

.btn-pages {
  padding-left: 0;
  border: 1px solid;
}

.btn-components {
  padding-left: 0;
  border: 1px solid;
}

.nav-item span {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin-right: 3px;
}

/* Header */

.section-header {
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.first-img {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.container-header {
  position: relative;
  padding-top: 200px;
  padding-bottom: 150px;
}

.form-header {
  margin-right: 0;
}

.username,
.email,
.password {
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 6px;
  padding-left: 12px;
}

.placeholder-username,
.placeholder-email,
.placeholder-password {
  font-size: 16px;
  margin-left: 12px;
  width: 93%;
  border-radius: 3px;
}

.placeholder-header-1 ::placeholder {
  color: #afb5bc;
}

.placeholder-header-2 ::placeholder {
  color: #afb5bc;
}

.placeholder-header-3 ::placeholder {
  color: #afb5bc;
}

.smallText-Email {
  font-size: 12px;
  padding-left: 12px;
  color: #838990;
}

.checkbox-terms-conditions {
  padding-left: 12px;
  margin-left: 12px;
  margin-top: 12px;
}

.terms-conditions {
  font-size: 12px;
}

.terms-conditions a {
  text-decoration: none;
}

.sign-up {
  width: 93%;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 8px;
  background-color: #02b875;
  border-radius: 0.25rem;
}

.sign-up span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.header-heading h1 {
  font-size: 63px;
  font-weight: 400;
  line-height: 75px;
  padding-bottom: 25px;
}

.header-heading span {
  font-size: 17.5px;
  font-weight: 400;
  color: #ced4da;
}

.card {
  border-radius: 0.25rem;
}

/* Header Media Screen */

@media (min-width: 768px) and (max-width: 991px) {
  .header-heading {
    padding-right: 20px !important;
  }
}

/* Section 2 - Meet The Future */
.section2 {
  padding-top: 72px;
  margin-right: 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid rgba(223, 219, 219, 0.4);
  display: flex;
  justify-content: center;
}

.section2-container {
  padding-bottom: 72px;
  margin-left: 0;
  margin-right: 0;
}

.section2-col .meetTheFuture {
  color: #adb5bd;
  font-size: 14px;
  font-weight: 500;
}

.section2 .introducing {
  font-size: 48px;
  font-weight: 400;
  color: #343a40;
  margin-top: 24px;
  margin-bottom: 24px;
}

.section2 .opportunity {
  font-size: 20px;
  font-weight: 400;
  color: #495057;
  padding: 0 22px 0 22px !important;
}

.section2-video-cover-row {
  padding: 0 22px 0 22px !important;
}

.video-cover {
  position: relative;
  overflow: hidden;
}

.video-cover img {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

.section2-divIcon {
  width: 50%;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 2;
  margin-top: -36px;
  margin-left: -36px;
  margin-bottom: 0 !important;
}

.video-play-icon {
  margin: 0 auto;
  cursor: pointer;
  width: 72px;
  height: 72px;
  line-height: 72px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  font-size: 2rem;
}

.embed-responsive {
  display: none;
}

.section2-bottom-text-row {
  padding: 0 22px 0 22px !important;
}

.section2-bottom-text h6 {
  font-size: 16px;
  color: #343a40;
}

.section2-bottom-text p {
  font-size: 14px;
  color: #495057;
  margin-top: 15px;
}

.section2-bottom-text a {
  font-size: 14px;
  text-decoration: none;
}

/* Section 3 - Welcome Home */
.section3 {
  background-color: #f8f9fa;
}

.section3-intro {
  padding: 0 11px 0 11px;
}

.welcomeHome {
  font-size: 14px;
  font-weight: 500;
  color: #adb5bd;
  margin-top: 50px;
}

.greatlySimplified {
  font-size: 56px;
  font-weight: 400;
  color: #343a40;
  margin-top: 24px;
  margin-bottom: 24px;
}

.anOpportunity {
  font-size: 20px;
  font-weight: 400;
  color: #495057;
}

.section3-middle {
  margin-top: 50px;
}

.section3 img {
  height: 470px;
  margin-left: -25px;
}

.txt-link {
  text-decoration: none;
}

.section3-cardOne-li {
  width: 100%;
}

.section3-cardOne-li a {
  border: 1px solid #e9ecef;
  /* box-shadow: 1px 6px 31px rgb(0 0 0 / 15%); */
}

.section3-cardOneBody {
  position: relative;
  padding: 24px;
  display: flex !important;
  align-items: center !important;
}

.section3-cardTwo-li a {
  border: none;
  margin-top: 10px;
}

.section3-cardTwoBody {
  background-color: #f8f9fa;
  position: relative;
  padding: 24px;
}

.section3-cardThree-li a {
  border: none;
  margin-top: 10px;
}

.section3-cardThreeBody {
  background-color: #f8f9fa;
  position: relative;
  padding: 24px;
}

.number-1 {
  height: 50px;
  width: 50px;
  background-color: #4582ec;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 38px;
}

.number-1 span {
  position: absolute;
  bottom: 4px;
  left: 17px;
  color: #ffff;
  font-size: 28px;
}

.number-2 {
  height: 50px;
  width: 50px;
  background-color: #ced4da;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 38px;
}

.number-2 span {
  position: absolute;
  bottom: 4px;
  left: 17px;
  color: #ffff;
  font-size: 28px;
}

.number-3 {
  height: 50px;
  width: 50px;
  background-color: #ced4da;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 38px;
}

.number-3 span {
  position: absolute;
  bottom: 4px;
  left: 17px;
  color: #ffff;
  font-size: 28px;
}

.section3-card .heading {
  font-size: 20px;
  font-weight: 500;
  color: #343a40;
  margin-left: 87px;
}

.section3-card .text {
  font-size: 16px;
  color: #495057;
  margin-left: 87px;
  display: inline-block;
}

/* Section 4 - Synced For Your Convenience */
.section-4-syncForYourConvenience-container {
  padding-right: 0 !important;
}

.fullwidth-split-text {
  display: flex;
  justify-content: center;
  padding-right: 0 !important;
}

.row > * {
  padding-right: 0;
  padding-left: 0;
}

img.bg-image {
  object-fit: cover;
}
.section4-bgImage-1 {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.section-4-synced {
  padding-top: 96px;
  padding-bottom: 90px;
  padding-left: 22px;
  padding-right: 22px;
}

.section4-heading {
  font-size: 40px;
  font-weight: 400;
  color: #343a40;
  margin-bottom: 35px;
}

.section4-subHeading {
  font-size: 20px;
  font-weight: 400;
  color: #495057;
}

.section4-card h6 {
  font-size: 16px;
  font-weight: 500;
  color: #343a40;
}

.section-4-ul {
  list-style: none;
  position: relative;
  width: 100% !important;
}

.section4-icon {
  position: absolute;
  left: 5px;
  padding-top: 2px;
}

.section4-card p {
  font-size: 14px;
  color: #495057;
}

.txt-learnMoreAboutSync {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

/* Section 5 - It's everything, all in one place */
.section5-itsEverything-container .no-gutters {
  --bs-gutter-x: 0 !important;
}

.section-5-everything {
  padding-top: 96px;
  padding-bottom: 90px;
  padding-left: 22px;
  padding-right: 22px;
}

.section5-bgImage-1 {
  width: 100%;
  height: 100%;
}

.section5-heading {
  font-size: 2.5rem;
  font-weight: 400;
  color: #343a40;
  margin-bottom: 35px;
}

.section5-subHeading {
  font-weight: 400;
  color: #495057;
}

.section5-ul {
  list-style: none;
  position: relative;
  width: 100% !important;
}

.section5-ul li {
  margin-top: 35px;
}

.section5-card h6 {
  font-size: 16px;
  font-weight: 500;
  color: #343a40;
}

.section5-icon {
  position: absolute;
  left: 5px;
  padding-top: 2px;
}

.section5-card p {
  font-size: 14px;
  color: #495057;
}

.txt-learnMoreAboutWorkflow {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

/* Section 5 Max Width 575.98px */
@media screen and (max-width: 575.98px) {
  .section5-ul {
    width: 440px;
  }
}

/* Section 6 - Case Studies */
.section6-caseStudies {
  background-color: #f8f9fa;
  margin-bottom: 72px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.container-caseStudies {
  width: 100%;
  padding-left: 10px !important;
}

.caseStudies-col {
  margin-top: 70px;
}

.txt-section-caseStudies {
  font-size: 14px;
  font-weight: 500;
  color: #afb5bc;
}

.caseStudies-col h2 {
  font-size: 56px;
  font-weight: 400;
  color: #343a40;
  margin-top: 20px;
  margin-bottom: 20px;
}

.caseStudies-col .caseStudies-txt-span2 {
  font-size: 20px;
  font-weight: 400;
  color: #495057;
}

.card-row-caseStudies {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.card-section6 {
  height: 100%;
}

.card-body-caseStudies {
  padding: 36px;
}

.card-body-caseStudies-movend {
  padding: 36px 36px 36px 30px;
}

.card-body-caseStudies h4 {
  font-size: 24px;
  font-weight: 500;
  color: #343a40;
}
.card-body-caseStudies p {
  font-size: 16px;
  color: #495057;
}
.card-body-caseStudies a {
  font-size: 16px;
  text-decoration: none;
}

.card-body-caseStudies-movend a {
  text-decoration: none;
}

/* Section 6 Media Screen */
@media (min-width: 1200px) {
  .container-caseStudies {
    max-width: 1140px;
  }

  .card-row-caseStudies {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
  }

  .section6-card-col {
    width: 354px;
  }

  .card-movend {
    width: 354px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container-caseStudies {
    max-width: 1040px;
  }

  .card-row-caseStudies {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
  }

  .section6-card-col {
    width: 319px;
  }

  .card-movend {
    width: 319px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-caseStudies {
    max-width: 790px;
  }

  .card-row-caseStudies {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
  }

  .section6-card-col {
    width: 240px;
  }

  .card-movend {
    width: 240px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container-caseStudies {
    max-width: 540px;
  }

  .card-row-caseStudies {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 10px;
  }

  .card-pitStop {
    width: 45% !important;
  }
  .card-bench {
    width: 45%;
    margin-left: 45px;
  }
  .card-movend {
    margin-top: 35px;
    width: 45%;
  }

  .card-body-caseStudies {
    padding: 36px;
  }

  .card-body-caseStudies-movend {
    padding: 36px 36px 36px 30px;
  }
}

/*Section 7 - 30 Day Trial */
.section-7 {
  margin-top: 180px;
  padding-bottom: 83px;
}

.container-3oDayTrial {
  width: 100%;
}

.section7-intro {
  padding-left: 10px;
  padding-right: 10px;
}

.text-h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 50px;
}

.txt-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.placeholder-col {
  padding-left: 20px;
  padding-right: 20px;
}

.placeholder-30DayTrial {
  width: 100%;
  padding-top: -40px;
  padding-bottom: -40px;
}

.small-Txt-30DayTrial {
  font-size: 12px;
  font-weight: 400;
}

.placeholder-30DayTrial-username ::placeholder {
  color: #afb5bc;
  font-size: 16px;
}

.placeholder-30DayTrial-email ::placeholder {
  color: #afb5bc;
  font-size: 16px;
}
.placeholder-30DayTrial-password ::placeholder {
  color: #afb5bc;
  font-size: 16px;
}

.section-7-btn-col {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.btnSignUp-background {
  width: 100%;
  background-color: #02b875;
  border-radius: 4px;
  text-align: center;
}

.btnSignUp-background :hover {
  background-color: #198754;
  color: #fff;
}

.txt-signUpForWingman {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding-top: 11px;
  padding-bottom: 11px;
}

@media (max-width: 767px) {
  .container-3oDayTrial {
    max-width: 540px !important;
  }
}

/*Section 8 - Handy Announcement */
.section-handyAnnouncement {
  width: 100%;
  background: linear-gradient(135deg, #6f42c1 0%, #4582ec 100%);
  margin-top: 80px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0px !important;
  position: relative;
}

.container-handyAnnouncement {
  font-size: 16px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
}

.fa-birthday-cake {
  margin-right: 10px;
}

.handyAnnouncement-text {
  margin-right: 15px;
}

.viewChangelog {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.handyAnnouncement-col :hover {
  color: #ededed !important;
}

/* Footer */
footer {
  padding-top: 80px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343a40;
}

.footer-container {
  margin-left: 10px;
  width: 100%;
}

.footer-container .no-gutters {
  --bs-gutter-x: 0;
}

.copyright p {
  font-size: 14px;
  font-weight: 400;
  color: #ffffffbf;
}

.heading-footer {
  font-size: 20px;
  font-weight: 500;
}

.heading-list-footer {
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
}

.list-footer a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #adb5bd;
}

/* Footer Media Screen */
@media (min-width: 1200px) {
  .footer-container {
    max-width: 1140px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer-container {
    max-width: 960px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-container {
    max-width: 720px !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .footer-container {
    max-width: 540px !important;
  }
}
